@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Consumir API com  HttpClientFactory</h3>
    <img src="~/images/consomeapi1.png" asp-append-version="true" />
</div>
